  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');

  :root {
      --bg-Color: #F5F5F5;
      --bg-second-Color: #F3F9FB;
      --primary-Color: #008ECC;
      --heading-Color: #222222;
      --text-Color: #666666;
      --white-text-Color: #fff;
  }


  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: 'Hanken Grotesk', sans-serif;
      background-color: var(--white-text-Color);
  }

  span {
      display: inline-block;
  }

  a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
  }

  li {
      list-style-type: none;
  }

  .container {
      max-width: 1200px;
      margin: 0 auto;
  }

  section {
      padding-bottom: 120px;
  }

  .section-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;
      margin-bottom: 40px;
      border-bottom: 1px solid #EDEDED;
  }


  .section-heading h3 {
      color: var(--text-Color);
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      position: relative;
  }

  .section-heading h3::after {
      content: " ";
      width: 100%;
      height: 3px;
      background-color: var(--primary-Color);
      position: absolute;
      left: 0;
      bottom: -16px;

  }

  .section-heading h3 span {
      color: var(--primary-Color);
  }

  .section-heading button {
      color: var(--heading-Color);
      border: none;
      background-color: transparent;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      padding-right: 24px;
      position: relative;
      cursor: pointer;
  }

  .section-heading button::after {
      content: url(./assets/icon/Arrow-Right.png);
      width: 18px;
      height: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      right: 0;
  }


  /* End of common styles */

  .navbar-text {
      background-color: var(--bg-Color);
  }

  .navbar-text>.container div {
      padding: 14px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .navbar-text div p {
      color: var(--text-Color);
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
  }

  .navbar-text div ul {
      display: flex;
      gap: 16px;
  }

  .navbar-text ul li {
      color: var(--text-Color);
      text-align: right;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      padding-left: 18px;
      position: relative;
      /* 128.571% */
  }

  .navbar-text ul li span {
      font-weight: 600;
  }

  .navbar-text ul li:nth-child(2),
  .navbar-text ul li:nth-child(4) {
      width: 1px;
      height: 18px;
      background: #D9D9D9;
      padding-left: unset;
  }

  .navbar-text ul li:nth-child(1)::before,
  .navbar-text ul li:nth-child(3)::before,
  .navbar-text ul li:nth-child(5)::before {
      width: 18px;
      height: 18px;
      position: absolute;
      left: -6px;
  }

  .navbar-text ul li:nth-child(1)::before {
      content: url(./assets/icon/Location.png);

  }

  .navbar-text ul li:nth-child(3)::before {
      content: url(./assets/icon/delivery-truck.png);
  }

  .navbar-text ul li:nth-child(5)::before {
      content: url(./assets/icon/Discount.png);
  }


  .navbar {
      display: flex;
      justify-content: space-between;
      padding: 21px 0;
  }

  .navbar .navbar-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
  }

  .navbar .navbar-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
  }

  .navbar .navbar-search {
      position: relative;
  }

  .navbar .navbar-search input {
      width: 507px;
      height: 48px;
      padding: 15px 0 15px 44px;
      background-color: var(--bg-second-Color);
      border: none;
      color: var(--text-Color);
      font-size: 14px;
      font-weight: 400;
      border-radius: 10px;
  }

  .navbar .navbar-search::before,
  .navbar .navbar-search::after {
      width: 18px;
      height: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }

  .navbar .navbar-search::before {
      content: url(./assets/icon/Search.png);
      left: 16px;
  }

  .navbar .navbar-search::after {
      content: url(./assets/icon/list.png);
      right: 16px;
  }

  .navbar .nav-links ul {
      display: flex;
      gap: 20px;
  }

  .navbar .nav-links ul li {
      display: flex;
      align-items: center;
      gap: 6px;
  }

  .nav-links ul img {
      width: 24px;
      height: 24px;
  }

  .nav-links ul li:nth-child(2) {
      width: 1px;
      height: 24px;
      background: #D9D9D9;
  }

  .navbar-options {
      border-top: 1px solid #D9D9D9;
      border-bottom: 1px solid #D9D9D9;
      padding: 16px 0;
  }

  .navbar-options ul {
      display: flex;
      justify-content: space-between;
  }

  .navbar-options li {
      padding: 9px 14px;
      background-color: var(--bg-second-Color);
      border-radius: 18px;
  }

  .navbar-options select {
      background-color: transparent;
      border: none;
      color: var(--heading-Color);
  }

  .navbar-options option {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
  }

  .navbar-options li:hover,
  .navbar-options li:hover select {
      background-color: var(--primary-Color);
      color: var(--white-text-Color);
  }

  /* only for showing the hover effect on options without hovering, like figma*/
  .navbar-options .active,
  .navbar-options .active select {
      background-color: var(--primary-Color);
      color: var(--white-text-Color);
  }


  .hero {
      margin-top: 20px;
      padding: 0 90px;
      background: #212844;
      background-image: url(./assets/top-right-strock-ellipse.png), url(./assets/top-right-fill-ellipse.png), url(./assets/bottom-ellipse.png), url(./assets/bottom-ellipse-strock.png);
      background-position: top right, top right, bottom right 248px, bottom right 233px;
      background-repeat: no-repeat;

      border-radius: 16px;
      min-height: 316px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
  }

  .hero-left h2 {
      color: var(--white-text-Color);
      font-size: 30px;
      font-weight: 600;
      line-height: 30px;
  }

  .hero-left h1 {
      color: var(--white-text-Color);
      font-size: 63px;
      font-weight: 700;
      line-height: 63px;
      margin: 20px 0;
  }

  .hero-left .navigation-dots {
      margin-top: 73px;
  }


  .hero button {
      width: 86px;
      height: 86px;
      background-color: var(--bg-second-Color);
      border: 8px solid #FFF;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

  }

  .hero button:first-child {
      left: -43px;
  }

  .hero button:nth-child(2) {
      right: -43px;
  }

  .best-deals-cards {
      display: flex;
      justify-content: space-between;
  }

  .best-deals-cards .best-deal-card {
      width: 227px;
      height: 295px;
      border-radius: 16px;
      border: 1px solid #EDEDED;
      background: var(--bg-Color);
      text-align: center;
      position: relative;
      overflow: hidden;
  }

  .best-deal-card .card-badge {
      position: absolute;
      right: 0;
      border-radius: 0px 16px;
      background: var(--primary-Color);
      width: 51px;
      height: 53px;
      padding: 11px 8px;
      color: var(--white-text-Color);
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
  }

  .best-deal-card .card-img {
      height: calc(295px - 106px)
  }

  .best-deal-card .card-info {
      height: 106px;
      background-color: var(--white-text-Color);
      border-radius: 0px 0px 15px 15px;
      padding: 12px;
      text-align: left;
  }

  .best-deal-card .card-info h5 {
      color: var(--heading-Color);
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
      padding-bottom: 10px;
  }

  .best-deal-card .card-info h5:nth-child(2) {
      border-bottom: 1px solid #EDEDED;
  }

  .best-deal-card .card-info h5 span {
      font-weight: 400;
      margin-left: 10px;
  }

  .best-deal-card .card-info>span {
      padding-top: 10px;
      color: #249B3E;
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
  }

  /* .best-deals-cards .best-deal-card:nth-child(2), added styles to this child to show the hover effect without hovering, like figma*/
  .best-deals-cards .best-deal-card:nth-child(2),
  .best-deals-cards .best-deal-card:hover {
      border: 1px solid var(--primary-Color);
      background: var(--bg-Color);
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 6px 13px 0px rgba(0, 0, 0, 0.05), 0px 24px 24px 0px rgba(0, 0, 0, 0.04), 0px 54px 33px 0px rgba(0, 0, 0, 0.03), 0px 97px 39px 0px rgba(0, 0, 0, 0.01), 0px 151px 42px 0px rgba(0, 0, 0, 0.00);
  }

  .catagory-cards {
      display: flex;
      justify-content: space-between;
  }

  .catagory-cards .catagory-card {
      width: 132px;
      height: 172px;
  }

  .catagory-card .card-img {
      width: 132px;
      height: 132px;
      background-color: var(--bg-Color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .catagory-card .card-img img {
      display: block;
  }

  .catagory-card h5 {
      color: var(--heading-Color);
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      margin-top: 20px;
  }

  .brands-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .brands-cards .brand-card {
      width: 389px;
      height: 207px;
      border-radius: 16px;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
  }

  .brand-card .card-img {
      padding: 15px 20px;
  }

  .brand-card .card-img img {
      width: 90%;
  }

  .brand-card .card-info {
      padding: 20px;
  }

  .brands-cards .brand-card:first-child {
      background-color: #313131;
      background-image: url(./assets/iphone-masking.png);
      background-repeat: no-repeat;
      background-position: top right;
  }

  .brands-cards .brand-card:first-child span {
      padding: 9px 20px;
      border-radius: 8px;
      background-color: #494949;
  }

  .brands-cards .brand-card:first-child .brand-logo {
      margin: 20px 0;
      background-color: #fff;
      width: 62px;
      height: 62px;
      border-radius: 16px;
      padding: 8px 12px;
  }

  .brands-cards .brand-card:first-child h3 {
      color: var(--white-text-Color);
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
  }

  .brands-cards .brand-card:nth-child(2) {
      background-color: #FFF3CC;
      background-image: url(./assets/realme-masking.png);
      background-repeat: no-repeat;
      background-position: top right;
  }

  .brands-cards .brand-card:nth-child(2) span {
      padding: 9px 20px;
      border-radius: 8px;
      background-color: #F6DE8D;
  }

  .brands-cards .brand-card:nth-child(2) .brand-logo {
      margin: 20px 0;
  }

  .brands-cards .brand-card:nth-child(2) h3,
  .brands-cards .brand-card:last-child h3 {
      color: var(--heading-Color);
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      white-space: nowrap;
  }



  .brands-cards .brand-card:last-child {
      background-color: #FFECDF;
      background-image: url(./assets/xiaomi-masking.png);
      background-repeat: no-repeat;
      background-position: top right;
  }

  .brands-cards .brand-card:last-child span {
      padding: 9px 20px;
      border-radius: 8px;
      background-color: #FFD1B0;
  }

  .brands-cards .brand-card:last-child .brand-logo {
      margin: 15px 0;
  }

  .card-navigation-dots {
      margin-top: 30px;
      text-align: center;
  }