  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');

  :root {
      --bg-Color: #F5F5F5;
      --bg-second-Color: #F3F9FB;
      --primary-Color: #008ECC;
      --heading-Color: #222222;
      --text-Color: #666666;
      --white-text-Color: #fff;
  }


  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: 'Hanken Grotesk', sans-serif;
      background-color: var(--white-text-Color);
  }

  span {
      display: inline-block;
  }

  a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
  }

  li {
      list-style-type: none;
  }

  .container {
      max-width: 1200px;
      margin: 0 auto;
  }

  section {
      padding-bottom: 120px;
  }

  .navbar-text {
      background-color: var(--bg-Color);
  }

  .navbar-text>.container div {
      padding: 14px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .navbar-text div p {
      color: var(--text-Color);
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
  }

  .navbar-text div ul {
      display: flex;
      gap: 16px;
  }

  .navbar-text ul li {
      color: var(--text-Color);
      text-align: right;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      padding-left: 24px;
      position: relative;
      /* 128.571% */
  }

  .navbar-text ul li span {
      font-weight: 600;
  }

  .navbar-text ul li:nth-child(2),
  .navbar-text ul li:nth-child(4) {
      width: 1px;
      height: 18px;
      background: #D9D9D9;
      padding-left: unset;
  }

  .navbar-text ul li:nth-child(1)::before,
  .navbar-text ul li:nth-child(3)::before,
  .navbar-text ul li:nth-child(5)::before {
      width: 18px;
      height: 18px;
      position: absolute;
      left: -6px;
  }

  .navbar-text ul li:nth-child(1)::before {
      content: url(./assets/icon/Location.png);

  }

  .navbar-text ul li:nth-child(3)::before {
      content: url(./assets/icon/delivery-truck.png);
  }

  .navbar-text ul li:nth-child(5)::before {
      content: url(./assets/icon/Discount.png);
  }